<div style="justify-content: center; margin: 0px; padding: 0px">

    <!--each visualizaiton, or group of visualiations is placed in a component-->
    <!--Vizs were made with Tableau with much of the processing in excel, which is included in the repository.-->
    <app-sidescroll></app-sidescroll>
    <app-title [title]="'Bike Sharing Citizens'" [subTitle]="'of Los Angeles take part in a program which allows them to temporarily use community bikes for their daily activities.'" [subTitle2]="'These are the routes that drive them.'"></app-title>
    <app-home-main></app-home-main>
    <app-time-gif></app-time-gif>
    <app-routes-zoomed-out></app-routes-zoomed-out>
    <app-routes-zoomed-in></app-routes-zoomed-in>
    <app-net-moves></app-net-moves>
    <app-title [title]="'Types of people and rides'" [subTitle]="'A closer look at the stories of L.A.'"></app-title>
    <app-passholder></app-passholder>
    <app-distributions></app-distributions>

</div>